<nav class="navbar sticky-top navbar-dark bg-dark">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">WeDairy</span>
    <div class="d-flex me-2" role="group">
      <ng-template [ngIf]="!isLoggedIn" [ngIfElse]="loggedIn">
        <a type="button" class="btn btn-dark" [routerLink]="['/login']">
          Login
        </a>
      </ng-template>
      <ng-template #loggedIn>
        <a
          type="button"
          class="btn btn-dark"
          [routerLink]="['']"
          (click)="logout()"
        >
          Logout
        </a>
      </ng-template>
    </div>
  </div>
</nav>
