<div class="container">
  <div class="col">
    <div class="loading" *ngIf="isLoading">
      <app-loading-spinner></app-loading-spinner>
    </div>
    <div *ngFor="let event of eventList">
      <div class="d-flex justify-content-center m-4">
        <div class="card" style="width: 18rem">
          <div class="card-body">
            <h5 class="card-title">
              {{ event.firstPerson.name + " && " + event.secondPerson.name }}
            </h5>
            <h6 class="card-subtitle text-muted mb-2">
              {{ event.date | date }} | {{ event.location }}
            </h6>
            <a class="btn btn-dark" [routerLink]="[event._id, 'guests']">
              Guests
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
<a
  class="btn btn-primary rounded-circle circle btn-add-event"
  data-bs-toggle="tooltip"
  data-bs-placement="top"
  title="Add a new event"
  [routerLink]="['add']"
>
  <span>+</span>
</a>
