<div class="container">
  <div class="col">
    <div *ngFor="let event of eventList">
      <div class="d-flex justify-content-center m-4">
        <div class="card" style="width: 18rem">
          <div class="card-body">
            <h5 class="card-title">
              {{ event.firstPerson.name + " && " + event.secondPerson.name }}
            </h5>
            <h6 class="card-subtitle text-muted mb-2">
              {{ event.date | date }} | {{ event.location }}
            </h6>
            <button class="btn btn-dark">Guests</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
