<div class="modal-header">
  <h5 class="modal-title">
    <span> Guests </span>
  </h5>
</div>
<div class="modal-body">
  <div class="table-responsive" [style]="{ 'overflow-x': 'clip' }">
    <table
      class="table table-hover table-borderless"
      [style]="{ 'border-collapse': 'unset' }"
    >
      <thead>
        <tr>
          <td></td>
          <td class="text-start">Name</td>
          <td class="text-end">How many</td>
          <td class="text-end">Gifted</td>
        </tr>
      </thead>
      <tbody>
        <!-- Content of the table -->

        <!-- Render list of guests only if there is at least one guest -->
        <ng-template [ngIf]="guestsList && guestsList.length > 0">
          <ng-container *ngFor="let guest of guestsList; let i = index">
            <tr
              ngbTooltip="{{ guest.comment }}"
              [closeDelay]="400"
              [openDelay]="250"
              container="body"
              (click)="openEditForRow(i)"
              [style]="{ cursor: 'pointer' }"
            >
              <td>
                <a *ngIf="i != activeEditRow; else edittingRow"
                  ><i class="bi bi-arrow-right"></i
                ></a>

                <ng-template #edittingRow>
                  <a><i class="bi bi-arrow-down"></i></a>
                </ng-template>
              </td>
              <td class="text-start">{{ guest.name }}</td>
              <td class="text-end">{{ guest.howMany }}</td>
              <td class="text-end">{{ guest.howMuch }}</td>
            </tr>
            <!-- Inner table, open on double click on row -->
            <tr
              class="table-borderless table-info"
              [ngStyle]="{
                visibility: i != activeEditRow ? 'hidden' : 'visible'
              }"
            >
              <td colspan="4">
                <div
                  [ngbCollapse]="i != activeEditRow"
                  [animation]="true"
                  class="collapse navbar-collapse"
                >
                  <p>
                    Change any value, when you done, hit enter to save changes.
                  </p>
                  <form (ngSubmit)="handleSubmit(i)">
                    <div class="row mb-2">
                      <div class="col">
                        <input
                          type="text"
                          name="name"
                          placeholder="Name"
                          (input)="onChange($event)"
                        />
                      </div>
                      <div class="col">
                        <input
                          type="number"
                          name="howMany"
                          placeholder="How many"
                          (input)="onChange($event)"
                        />
                      </div>
                      <div class="col">
                        <input
                          type="number"
                          name="howMuch"
                          placeholder="Gifted"
                          (input)="onChange($event)"
                        />
                      </div>
                    </div>
                    <div>
                      <textarea
                        placeholder="Comment"
                        style="width: 100%"
                        name="comment"
                        (input)="onChange($event)"
                      ></textarea>
                    </div>
                    <input type="submit" class="btn d-none" />
                  </form>
                </div>
              </td>
            </tr>
          </ng-container>
        </ng-template>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <app-summary [guestsList]="guestsList"></app-summary>
  </div>
</div>

<!-- <div class="loading" *ngIf="isLoading">
      <app-loading-spinner></app-loading-spinner>
    </div> -->
