.input-wrap {
  position: relative;
}
.input-wrap .input {
  position: absolute;

  width: 100%;
  left: 0;
}
.input.number {
  text-align: end;
}
.width-machine {
  /*   Sort of a magic number to add extra space for number spinner */
  padding: 0 1rem;
}

.text-right {
  text-align: end;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.textarea {
  overflow: hidden;
  resize: both;
}

.textarea[contenteditable]:empty::before {
  content: "Write a comment";
  color: gray;
}
